<main>
    <form action="/searches" method="POST" class="search-form">

        <input type="text" id="bookTitleOrAuthor" name="bookTitleOrAuthor"
            placeholder="Enter a Title or Author:"><br><br>

        <label for="author">Title</label> <input type="radio" name="filterBy" id="title" value="title"><br><br>


        <label for="author">Author</label> <input type="radio" name="filterBy" id="author" value="author"><br><br>


        <input type="submit" value="Search The Google Books API">
    </form>
</main>